.logo {
  width: 96px;
  height: 96px;
}

.title {
  font-family: eRibeye, serif;
  font-size: 38px;
  line-height: 38px;
  color: var(--main-color);
  margin-top: 14px;
  margin-left: 19px;
  margin-bottom: 0;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.sel {
  width: 64px;
  margin: 0 16px 0 0;
  font-family: eMontserrat, serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.features-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
