.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cat {
  width: 400px;
}

.header {
  color: var(--main-color);
  font-family: eMontserrat, serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;

  margin-top: 0;
  margin-bottom: 0;
}

.subheader {
  color: #c1d7ed;
  font-family: eMontserrat, serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;

  margin-top: 16px;
}

.home{
  margin-bottom: 32px;
}
