<div class="block list-header">
  <p class="title font-title-big">Purrfect Sitters</p>
  <p class="slog font-25">Сервис заботы о вашем питомце</p>
</div>
<p class="desc"><b>Наши специалисты</b></p>
<div class="w-container goto-container">
  <div class="goto-option"
       [ngClass]="{'goto-option-selected': category === 'moral-pet-sitting'}"
       (click)="moralPetSitting()">
    <p>передержка с зоопсихологом</p>
  </div>

  <div class="goto-option"
       [ngClass]="{'goto-option-selected': category === 'pet-sitting'}"
       (click)="petSitting()">
    <p>передержка</p>
  </div>

  <div class="goto-option"
       [ngClass]="{'goto-option-selected': category === 'pet-health'}"
       (click)="petHealth()">
    <p>ветеринар</p>
  </div>

  <div class="goto-option"
       [ngClass]="{'goto-option-selected': category === 'pet-moving'}"
       (click)="petMoving()">
    <p>перевозка</p>
  </div>
</div>
<div
  *ngFor="let sitter of sitters"
  class="block sitter-card">
  <app-sitter-card
    [sitter]="sitter"></app-sitter-card>
</div>
