<div id="reviews-overflow" class="reviews-holder">
  <div class="block review-card">
    <div
      class="review-photo"
      style="background-image: url('/photos/p1.png')"></div>
    <p class="font-25">Борисова Алина</p>
    <p class="font-16">Отличный сервис! Здесь я нашла хорошего ситтера для передержки. Мы заранее встретились, обо всем
      договорились и я не волновалась за своего питомца.</p>
  </div>

  <div class="block review-card">
    <div
      class="review-photo"
      style="background-image: url('/photos/p2.png')"></div>
    <p class="font-25">Ольга</p>
    <p class="font-16">Уже не первый раз пользуюсь услугами передержки, но до этого всегда сама искала ситтера на разных платформах, это было не очень удобно и занимало много времени. А благодаря Purrfect Sitters найти ситтера стало в разы быстрее.</p>
  </div>

  <div class="block review-card">
    <div
      class="review-photo"
      style="background-image: url('/photos/p4.png')"></div>
    <p class="font-25">Заворотнюк Виталий</p>
    <p class="font-16">Уезжал в отпуск и не с кем было оставить собаку, поэтому решил искать кому оставить её. Сервис отлично подошёл под все мои запросы. Посмотрев несколько ситтеров на выбор смог найти лучшего. Шарик остался доволен</p>
  </div>

  <div class="block review-card">
    <div
      class="review-photo"
      style="background-image: url('/photos/p3.png')"></div>
    <p class="font-25">Иванова Марина</p>
    <p class="font-16">Решили поехать отдыхать всей семьей, поэтому не знали с кем оставить кошку. Очень волновались оставлять ее незнакомым людям, но через данный сервис нашли ситтера, с которым заранее встретились и поговорили, и я почувствовала, что могу доверять этому человеку. Очень волновалась все время, пока были в отпуске, но ситтер все время был на связи и я получала фото и видео моей кошки в любое время. Очень удобный сервис, не знаю как я бы нашла ситтера без Purrfect Sitters!</p>
  </div>

  <div class="block review-card">
    <div
      class="review-photo"
      style="background-image: url('/photos/p5.png')"></div>
    <p class="font-25">Олег Алексеевич</p>
    <p class="font-16">На сайте все очень понятно и удобно, легко смог найти ситтера, ознакомившись с отзывами и описанием.</p>
  </div>
</div>
