<div class="block">
  <div (click)="finish.emit()"
    class="header-container h-container">
    <p class="title font-title-big">Purrfect Sitters</p>
    <p class="slog font-25">Сервис заботы о вашем питомце</p>
  </div>

  <div class="body-container h-container">
    <p class="desc register"><b>Регистрация</b></p>

    <div class="form-element">
      <label class="font-16" for="username">Ваше имя</label>
      <input class="font-16" type="text" id="username" [(ngModel)]="username">
    </div>

    <div class="form-element">
      <label class="font-16" for="email">Ваш email</label>
      <input class="font-16" type="email" id="email" autocomplete="username" [(ngModel)]="email">
    </div>

    <div class="form-element">
      <label class="font-16" for="password">Пароль</label>
      <input class="font-16" type="password" id="password" autocomplete="current-password" [(ngModel)]="password">
    </div>

    <div class="form-element">
      <label class="font-16" for="password_repeat">Повторите пароль</label>
      <input class="font-16" type="password" id="password_repeat" autocomplete="current-password" [(ngModel)]="repeatPassword">
    </div>

    <button (click)="register()"
      class="register-button">Зарегистрироваться</button>
  </div>
</div>
