<div class="line"></div>

<div class="w-container">
  <a href="/home">
    <div class="w-container">
      <img class="logo" src="/logo_cat.png" alt="logo">
      <p class="title font-title">Purrfect<br>Sitters</p>
    </div>
  </a>
  <div class="h-container">
    <a href="/moral-pet-sitting"><p class="sel font-16-bold">Передержка<br>с зоопсихологом</p></a>
    <a href="/list?type=pet-sitting"><p class="sel font-16-bold">Передержка</p></a>
    <a href="/list?type=pet-health"><p class="sel font-16-bold">Ветеринар</p></a>
    <a href="/list?type=pet-moving"><p class="mb-32 sel font-16-bold">Перевозка</p></a>
  </div>
  <div id="contacts">
    <p class="contact font-16-bold">Контакты<br>+7 (911) 648 15 20<br><a href="https://t.me/vikazenin">Tg: &#64;vikazenin</a>
    </p>
    <button (click)="popup.help()">Остались вопросы?</button>
  </div>
</div>
