<div class="line"></div>

<div class="w-container">
  <a href="/home">
    <div class="logo-container">
      <img class="logo" src="/favicon.ico" alt="logo">
      <p class="title">Purrfect<br>Sitters</p>
    </div>
  </a>
  <div class="features-container">
    <a href="/moral-pet-sitting"><p class="sel">Передержка<br>с зоопсихологом</p></a>
    <a href="/list?category=pet-sitting"><p class="sel">Передержка</p></a>
    <a href="/list?category=pet-health"><p class="sel">Ветеринар</p></a>
    <a href="/list?category=pet-moving"><p class="sel">Перевозка</p></a>
  </div>
  <div id="contacts" class="contacts">
    <p class="contact">Контакты<br>+7 (911) 648 15 20<br><a href="https://t.me/vikazenin">Tg: &#64;vikazenin</a></p>
    <button>Заказать звонок</button>
  </div>
</div>
