<div class="block list-header">
  <p class="title">Purrfect Sitters</p>
  <p class="slog">Сервис заботы о вашем питомце</p>
</div>
<p class="desc"><b>Наши специалисты</b></p>
<div class="goto-container">
  <p class="goto-option"
     [ngClass]="{'goto-option-selected': category === 'moral-pet-sitting'}"
     (click)="moralPetSitting()">
    передержка с зоопсихологом</p>

  <p class="goto-option"
     [ngClass]="{'goto-option-selected': category === 'pet-sitting'}"
     (click)="petSitting()">
    передержка</p>

  <p class="goto-option"
     [ngClass]="{'goto-option-selected': category === 'pet-health'}"
     (click)="petHealth()">
    ветеринар</p>

  <p class="goto-option"
     [ngClass]="{'goto-option-selected': category === 'pet-moving'}"
     (click)="petMoving()">
    перевозка</p>
</div>
<div
  *ngFor="let sitter of sitters"
  class="block sitter-card">
  <app-sitter-card
    [sitter]="sitter"></app-sitter-card>
</div>
