.jst{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.sitter-card {
  margin: 64px 0;
  padding: 64px 92px;
}

p{
  width: 190px;
}

input{
  width: 400px;
}
