.app-container {
  min-width: 768px;
  margin-left: 96px;
  margin-right: 96px;
  margin-top: 20px;
}

.app-header {
  padding-left: 96px;
  padding-right: 96px;
  margin-top: 20px;
  display: block;
  height: 96px;
}

.app-bottom {
  display: block;
  height: 240px;
}
