<div class="w-container">
  <a href="/home">
    <div class="w-container">
      <img class="logo" src="/favicon.ico" alt="logo">
      <p class="title font-title">Purrfect<br>Sitters</p>
    </div>
  </a>
  <div class="w-container items-center">
    <a href="/home#sitting"><p class="sel font-16-bold text-center">Услуги</p></a>
    <a href="/home#faq"><p class="sel font-16-bold text-center">FAQ</p></a>
    <a href="/home#contacts"><p class="sel font-16-bold text-center">Контакты</p></a>
  </div>
</div>
