<div class="w-container">
  <a href="/home">
    <div class="w-container">
      <img class="logo" src="/logo_cat.png" alt="logo">
      <p class="title font-title">Purrfect<br>Sitters</p>
    </div>
  </a>
  <div class="w-container items-center">
    <a href="/home#sitting"><p class="sel m-8 font-16-bold text-center">Услуги</p></a>
    <a href="/home#faq"><p class="sel m-8 font-16-bold text-center">FAQ</p></a>
    <a href="/home#contacts"><p class="sel m-40 font-16-bold text-center">Контакты</p></a>
    <ng-container *ngIf="!userHolder.isLogined()">
      <button
        class="login m-16"
        (click)="popup.login()">Вход
      </button>
      <button
        class="register"
        (click)="popup.register()">Регистрация
      </button>
    </ng-container>
    <ng-container *ngIf="userHolder.isLogined()">
      <p class="m-16 font-16-bold text-center" style="width: min-content;">Здравствуйте, {{ userHolder.currentUser?.username }}</p>
      <button
        class="login"
        (click)="userHolder.logout()">Выход
      </button>
    </ng-container>
  </div>
</div>
